python = 3.9.18
fuzzywuzzy = 0.18.0
pandas = 1.5.3
pytest = 7.4
recordlinkage = 0.0.0
requests = 2.31.0
ipykernel = 6.29.2
google-i18n-address ~= 3.1.0
email-validator ~= 2.1.0.post1
pytest-cov ~= 4.1.0
pytest ~= 7.4.0
pytest-mock ~= 3.11.1
apify-client ~= 1.5.0
python-dotenv ~= 1.0.0
usaddress = 0.5.10